@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  max-width: 1440px;
  overflow-x: hidden;
  margin: auto;
  /* border: 1px solid black; */
  /* color: var(--foreground); */
  /* background: var(--background); */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../public/icons/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
  background-size: 1rem;
}

